.about-us {
  display: flex;
  flex-direction: column-reverse;
  margin: 120px 0;
}
.about-us__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.about-us-image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  max-width: 300px;
  border-radius: 80px;
}
.about-us__image-bg {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 3px solid rgba(255, 255, 255, 0.60);
  background: rgba(255, 255, 255, 0.40);
  border-radius: 80px;
}

.about-us-wrapper {
  background: var(--blue);
  border-radius: 80px;
  padding: 16px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 48px;
}
.about-us__title {
  font-size: 32px;
  font-weight: 500;
  margin: 56px 0;
  text-align: center;
}
.about-us__text {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 24px;
}

@media(min-width: 800px) {
  .about-us {
    flex-direction: row;
    gap: 48px;
  }
  .about-us__image-wrapper {
    flex: 1;
  }
  .about-us-wrapper {
    flex: 2;
    margin-bottom: 0;
    padding: 32px;
  }
  .about-us-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .about-us__text {
    font-size: 18px;
  }
}
